/* Light Mode (soft slate version) */
.light[data-theme="midnight"]{
  --radius: 0.625rem;
  --background: oklch(0.97 0.01 260);
  --foreground: oklch(0.12 0.02 260);
  --card: oklch(0.99 0.01 260);
  --card-foreground: oklch(0.12 0.02 260);
  --popover: oklch(0.99 0.01 260);
  --popover-foreground: oklch(0.12 0.02 260);
  --primary: oklch(0.22 0.14 260);
  --primary-foreground: oklch(0.98 0.02 260);
  --secondary: oklch(0.95 0.02 260);
  --secondary-foreground: oklch(0.18 0.02 260);
  --muted: oklch(0.95 0.02 260);
  --muted-foreground: oklch(0.58 0.01 260);
  --accent: oklch(0.95 0.12 260);
  --accent-foreground: oklch(0.05 0.01 260);
  --destructive: oklch(0.6 0.18 22);
  --border: oklch(0.92 0.01 260);
  --input: oklch(0.92 0.01 260);
  --ring: oklch(0.66 0.12 260);
  --chart-1: oklch(0.6 0.2 250);
  --chart-2: oklch(0.58 0.14 300);
  --chart-3: oklch(0.4 0.07 210);
  --chart-4: oklch(0.82 0.19 180);
  --chart-5: oklch(0.75 0.17 100);
  --sidebar: oklch(0.98 0.01 260);
  --sidebar-foreground: oklch(0.12 0.02 260);
  --sidebar-primary: oklch(0.22 0.14 260);
  --sidebar-primary-foreground: oklch(0.98 0.02 260);
  --sidebar-accent: oklch(0.95 0.12 260);
  --sidebar-accent-foreground: oklch(0.05 0.01 260);
  --sidebar-border: oklch(0.92 0.01 260);
  --sidebar-ring: oklch(0.66 0.12 260);
}

/* Dark Mode (main version) */
.dark[data-theme="midnight"]{
  --radius: 0.625rem;
  --background: oklch(0.06 0.01 260);
  --foreground: oklch(0.98 0.02 260);
  --card: oklch(0.16 0.02 260);
  --card-foreground: oklch(0.98 0.02 260);
  --popover: oklch(0.12 0.01 260);
  --popover-foreground: oklch(0.98 0.02 260);
  --primary: oklch(0.86 0.22 260);
  --primary-foreground: oklch(0.12 0.02 260);
  --secondary: oklch(0.18 0.02 260);
  --secondary-foreground: oklch(0.98 0.02 260);
  --muted: oklch(0.17 0.01 260);
  --muted-foreground: oklch(0.66 0.01 260);
  --accent: oklch(0.18 0.12 260);
  --accent-foreground: oklch(0.98 0.02 260);
  --destructive: oklch(0.66 0.18 24);
  --border: oklch(1 0 0 / 6%);
  --input: oklch(1 0 0 / 10%);
  --ring: oklch(0.52 0.12 260);
  --chart-1: oklch(0.46 0.22 250);
  --chart-2: oklch(0.66 0.18 300);
  --chart-3: oklch(0.74 0.17 220);
  --chart-4: oklch(0.6 0.25 300);
  --chart-5: oklch(0.62 0.24 80);
  --sidebar: oklch(0.12 0.02 260);
  --sidebar-foreground: oklch(0.98 0.02 260);
  --sidebar-primary: oklch(0.46 0.22 250);
  --sidebar-primary-foreground: oklch(0.98 0.02 250);
  --sidebar-accent: oklch(0.18 0.12 260);
  --sidebar-accent-foreground: oklch(0.98 0.02 260);
  --sidebar-border: oklch(1 0 0 / 6%);
  --sidebar-ring: oklch(0.52 0.12 260);
}
