/* Light Mode */
.light[data-theme="mint"]{
  --radius: 0.625rem;
  --background: oklch(0.99 0.02 130);
  --foreground: oklch(0.14 0.02 130);
  --card: oklch(0.995 0.02 130);
  --card-foreground: oklch(0.14 0.02 130);
  --popover: oklch(0.995 0.02 130);
  --popover-foreground: oklch(0.14 0.02 130);
  --primary: oklch(0.25 0.16 140);
  --primary-foreground: oklch(0.98 0.01 140);
  --secondary: oklch(0.95 0.02 120);
  --secondary-foreground: oklch(0.18 0.02 120);
  --muted: oklch(0.95 0.02 120);
  --muted-foreground: oklch(0.56 0.01 120);
  --accent: oklch(0.95 0.12 100);
  --accent-foreground: oklch(0.05 0.01 100);
  --destructive: oklch(0.6 0.18 22);
  --border: oklch(0.92 0.02 130);
  --input: oklch(0.92 0.02 130);
  --ring: oklch(0.66 0.14 130);
  --chart-1: oklch(0.58 0.2 140);
  --chart-2: oklch(0.6 0.12 100);
  --chart-3: oklch(0.4 0.07 200);
  --chart-4: oklch(0.82 0.19 90);
  --chart-5: oklch(0.75 0.17 70);
  --sidebar: oklch(0.985 0.02 130);
  --sidebar-foreground: oklch(0.14 0.02 130);
  --sidebar-primary: oklch(0.25 0.16 140);
  --sidebar-primary-foreground: oklch(0.98 0.01 140);
  --sidebar-accent: oklch(0.95 0.12 100);
  --sidebar-accent-foreground: oklch(0.05 0.01 100);
  --sidebar-border: oklch(0.92 0.02 130);
  --sidebar-ring: oklch(0.66 0.14 130);
}

/* Dark Mode */
.dark[data-theme="mint"]{
  --radius: 0.625rem;
  --background: oklch(0.14 0.02 130);
  --foreground: oklch(0.98 0.02 130);
  --card: oklch(0.2 0.02 140);
  --card-foreground: oklch(0.98 0.02 140);
  --popover: oklch(0.17 0.02 140);
  --popover-foreground: oklch(0.98 0.02 140);
  --primary: oklch(0.9 0.2 140);
  --primary-foreground: oklch(0.12 0.02 140);
  --secondary: oklch(0.25 0.02 130);
  --secondary-foreground: oklch(0.98 0.02 130);
  --muted: oklch(0.24 0.01 130);
  --muted-foreground: oklch(0.66 0.01 130);
  --accent: oklch(0.25 0.12 110);
  --accent-foreground: oklch(0.98 0.02 110);
  --destructive: oklch(0.7 0.18 22);
  --border: oklch(1 0 0 / 8%);
  --input: oklch(1 0 0 / 12%);
  --ring: oklch(0.55 0.12 140);
  --chart-1: oklch(0.48 0.22 130);
  --chart-2: oklch(0.68 0.18 100);
  --chart-3: oklch(0.75 0.17 80);
  --chart-4: oklch(0.61 0.25 300);
  --chart-5: oklch(0.64 0.24 60);
  --sidebar: oklch(0.18 0.02 140);
  --sidebar-foreground: oklch(0.98 0.02 140);
  --sidebar-primary: oklch(0.48 0.22 130);
  --sidebar-primary-foreground: oklch(0.98 0.02 130);
  --sidebar-accent: oklch(0.25 0.12 110);
  --sidebar-accent-foreground: oklch(0.98 0.02 110);
  --sidebar-border: oklch(1 0 0 / 8%);
  --sidebar-ring: oklch(0.55 0.12 140);
}
