/* Light Mode */
.light[data-theme="sunset"]{
  --radius: 0.625rem;
  --background: oklch(0.99 0.03 30);
  --foreground: oklch(0.13 0.02 30);
  --card: oklch(0.995 0.03 30);
  --card-foreground: oklch(0.13 0.02 30);
  --popover: oklch(0.995 0.03 30);
  --popover-foreground: oklch(0.13 0.02 30);
  --primary: oklch(0.28 0.18 35);
  --primary-foreground: oklch(0.98 0.02 35);
  --secondary: oklch(0.95 0.03 320);
  --secondary-foreground: oklch(0.18 0.02 320);
  --muted: oklch(0.95 0.02 320);
  --muted-foreground: oklch(0.56 0.01 320);
  --accent: oklch(0.95 0.16 60);
  --accent-foreground: oklch(0.05 0.01 60);
  --destructive: oklch(0.62 0.2 20);
  --border: oklch(0.92 0.03 30);
  --input: oklch(0.92 0.03 30);
  --ring: oklch(0.7 0.16 40);
  --chart-1: oklch(0.65 0.22 30);
  --chart-2: oklch(0.6 0.14 280);
  --chart-3: oklch(0.41 0.08 230);
  --chart-4: oklch(0.83 0.19 90);
  --chart-5: oklch(0.77 0.17 70);
  --sidebar: oklch(0.98 0.03 30);
  --sidebar-foreground: oklch(0.13 0.02 30);
  --sidebar-primary: oklch(0.28 0.18 35);
  --sidebar-primary-foreground: oklch(0.98 0.02 35);
  --sidebar-accent: oklch(0.95 0.16 60);
  --sidebar-accent-foreground: oklch(0.05 0.01 60);
  --sidebar-border: oklch(0.92 0.03 30);
  --sidebar-ring: oklch(0.7 0.16 40);
}

/* Dark Mode */
.dark[data-theme="sunset"]{
  --radius: 0.625rem;
  --background: oklch(0.13 0.03 30);
  --foreground: oklch(0.98 0.03 30);
  --card: oklch(0.22 0.03 25);
  --card-foreground: oklch(0.98 0.03 25);
  --popover: oklch(0.18 0.02 25);
  --popover-foreground: oklch(0.98 0.03 25);
  --primary: oklch(0.9 0.22 40);
  --primary-foreground: oklch(0.12 0.02 40);
  --secondary: oklch(0.26 0.02 320);
  --secondary-foreground: oklch(0.98 0.03 320);
  --muted: oklch(0.25 0.02 320);
  --muted-foreground: oklch(0.66 0.02 320);
  --accent: oklch(0.26 0.16 65);
  --accent-foreground: oklch(0.98 0.03 65);
  --destructive: oklch(0.7 0.21 22);
  --border: oklch(1 0 0 / 8%);
  --input: oklch(1 0 0 / 12%);
  --ring: oklch(0.55 0.14 40);
  --chart-1: oklch(0.5 0.22 25);
  --chart-2: oklch(0.69 0.18 280);
  --chart-3: oklch(0.76 0.17 70);
  --chart-4: oklch(0.62 0.25 300);
  --chart-5: oklch(0.65 0.24 50);
  --sidebar: oklch(0.19 0.03 25);
  --sidebar-foreground: oklch(0.98 0.03 25);
  --sidebar-primary: oklch(0.5 0.22 25);
  --sidebar-primary-foreground: oklch(0.98 0.03 25);
  --sidebar-accent: oklch(0.26 0.16 65);
  --sidebar-accent-foreground: oklch(0.98 0.03 65);
  --sidebar-border: oklch(1 0 0 / 8%);
  --sidebar-ring: oklch(0.55 0.14 40);
}
